<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
  </title>
  <meta
    name="description"
    content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"
  />

  <meta name="twitter:title"       content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"/>
  <meta name="twitter:card"  content="summary"/>
  <meta name="twitter:image" content="{{ '/images/logo.png' | absolute_url }}" />
  <meta name="twitter:url"   content="{{           page.url | absolute_url }}" />

  <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico" />
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link
    rel="canonical"
    href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}"
  href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  {% if page.schema_type == "Book" %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Book",
    "name": "{{ page.title | escape }}",
    "description": "{{ page.description | escape }}",
    "url": "{{ site.url }}{{ page.url }}",
    "inLanguage": "{{ page.book.in_language | default: "ja" }}",
    "author": {
      "@type": "Organization",
      "name": "{{ page.book.author | escape }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ page.book.publisher | escape }}"
    }
    {% if page.book.cover_image %}
    ,"image": "{{ site.url }}{{ page.book.cover_image }}"
    {% endif %}
  }
  </script>
  {% endif %}
</head>
